:root {
    --verde_claro: #deeada;
    --verde: #7a9b76;
    --roxo_claro: #d6d0ee;
    --roxo: #614ca6;
    --branco: #ffffff;
    --verde2: #658861;
    --verde_claro2: #DFF0D8;
    --cinza_escuro: #444;
    --roxo2: #5c3d99;
    --roxo_escuro: #3a1a77;

}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.containerCadastro {
    width: 100vw;
    height: 710px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--roxo_claro);
    margin-top: 70px;
}

.boxCadastro {
    width: 45%;
    height: 80%;
    border-radius: 20px;
    display: flex;
    background-color: #fff;
}

.rightCard {
    border: 2px solid #604da4;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.rightCard h1{
    font-size: 3rem;
}

.formulario {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.formulario input {
    width: 80%;
    height: 25px;
    border: 1px solid #604da4;
    border-radius: 30px;
    padding: 10px;
}

.formulario input::placeholder {
    color: #604da4;
    font-size: 1.1rem;
}

.rightCard button {
    text-align: center;
    border: 1px solid var(--verde);
    background-color: #b9d2b1;
    width: 30%;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    text-align: center;
    font-size: 1rem;
    font-weight: bolder;
    color: #000;
}

.rightCard button:hover{
    box-shadow: 0px 4px 10px #65886166
}

.tittleCadastro {
    padding: 20px;
    width: 100%;
    color: #604da4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tittleCadastro h1 {
    font-weight: 800;
}

.btn {
    padding: 20px;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerSenha {
    position: relative;
}

#boxSenha {
    height: 120px;
    background-color: #fff;
    position: absolute;
    bottom: 0px;
    left: -580px;
    border-radius: 10px;
    border: 1px solid #604da4;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
    display: none;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

.cardSenha span {
    font-size: 1rem;
}