.rodape {
  background-color: #f1f6ef;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #614ca6;
  font-size: 14px;
  margin-top: 80px;
 }

 .rodape-esquerda {
  display: flex;
  flex-direction: column;
  gap: 20px;
 }

 .logo-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
 }

 .logo img {
  width: 150px;
 }

 .logo {
  font-size: 28px;
  margin: 0;
  font-weight: 600;
 }

 .contato,
 .telefones,
 .endereco {
  margin: 0;
 }

 .social-icons {
  display: flex;
  gap: 10px;
 }

 .social-icon {
  width: 30px;
  height: 30px;
 }

 .rodape-direita {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
 }

 .menu-titulo {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 500;
  margin-left: 0;
 }

 .menu-lista {
  list-style: none;
  padding: 0;
  margin: 0;
 }

 .menu-lista li {
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 1em;
 }

 .menu-lista a {
  text-decoration: none;
  color: #614ca6;
 }

 .menu-lista a:hover {
  text-decoration: underline;
 }

 media {
  .conteudo-principal {
   flex-direction: column;
   align-items: center;
  }

  .rodape {
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 30px;
  }
 }