:root {
    --verde_claro: #deeada;
    --verde: #7a9b76;
    --roxo_claro: #d6d0ee;
    --roxo: #614ca6;
    --branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--branco);
}

.header {
    width: 100%;
    background-color: var(--branco);
    border-bottom: 2px solid var(--roxo);
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
}

.header .container img {
    width: 13%;
    height: auto;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    list-style: none;
    max-width: 700px;
    width: 100%;
    justify-content: flex-end;
}

.navbar a {
    position: relative;
    color: var(--roxo);
    text-decoration: none;
    font-size: 1,5rem;
    transition: color 0.3s, font-weight 0.3s;
    padding-bottom: 5px;
}

.navbar a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0%;
    background-color: var(--verde);
    transition: width 0.3s ease-in-out;
}


.navbar a:hover::after,
.navbar a.active::after {
    width: 100%;
}

.navbar a.login,
.navbar a.cadastro {
    padding: 0.4em 1.8em;
    border: 1px solid var(--roxo);
    background-color: var(--roxo_claro);
    border-radius: 20px;
    color: white;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.navbar a.login::after,
.navbar a.cadastro::after {
    content: none;
}

.navbar a.login:hover,
.navbar a.cadastro:hover {
    background-color: var(--roxo);
    color: #fff;
    box-shadow: 0px 4px 10px rgba(97, 76, 166, 0.4);
}

/*TELA DE APRESENTACAO*/
.tela1 {
    background: linear-gradient(to bottom, var(--roxo_claro), var(--branco));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5% 5%;
    border-bottom: 2px solid var(--verde);
}

.chamativo {
    flex-wrap: wrap;
    max-width: 55%;
}

.titulo_tela1 {
    font-size: 2rem;
    color: var(--roxo);
    font-weight: bold;
    margin-bottom: 1%;
    width: 100%;
}

.texto_tela1 {
    font-size: 1.5rem;
    color: var(--roxo);
    width: 100%;
    margin: 0;
    text-align: start;
    margin-bottom: 1%;
}

.tela1 u {
    text-decoration: underline;
    text-decoration-color: var(--verde);
}

.tela1 button {
    margin-top: 1%;
    padding: 0.4em 1.8em;
    border-radius: 25px;
    border-color: var(--verde);
    color: var(--verde);
    background-color: var(--verde_claro);
    font-size: 1.5rem;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.foto_orquidario {
    min-width: 280px;
    text-align: center;
    max-width: 40%;
    padding-left: 5%;
}

.foto_orquidario img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
}

/*NOSSAS VANTAGENS*/
.tela2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.containerTela2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: var(--verde_claro);
    border: 3px solid var(--verde);
    border-radius: 20px;
    padding: 3%;
    gap: 2rem;
}

.foto_orquidea {
    max-width: 40%;
    text-align: center;
}

.foto_orquidea img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.texto_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 60%;
}

.titulo_tela2 {
    font-size: 2rem;
    color: var(--roxo);
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: start;
}

.texto_tela2 {
    font-size: 1.5rem;
    color: var(--roxo);
    text-align: start;
}

.tela2 u {
    text-decoration: underline;
    text-decoration-color: var(--verde);
}

.texto_container img {
    width: 5%;
}

.linha_texto {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
}

.linha_texto img {
    width: 55px;
    margin-top: -20px;
    height: auto;
}

.linha_texto p {
    font-size: 1.5rem;
    color: var(--roxo);
    margin: 0;
}

/*NOSSAS AVALIACOES*/
.containerPG3{
    height: 70vh;
    width: 100vw;
    background-color: var(--roxo_claro);
    margin-top: 80px;
}
.tittlePG3{
    width: 100%;
    height: 20%;
    padding: 1.3rem 0 0.2rem 5rem;
}
.tittlePG3 h1{
    color: var(--roxo);
    font-size: 2rem;
}
.boxComentariosPG3{
    width: 100%;
    height: 75%;
    gap: 0.7rem;
    padding: 1.7rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.boxcardPG3{
    width: 25%;
    height: 100%;
    padding: 1rem;
    border: 3px solid var(--roxo);
    background-color: var(--branco);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cardPG3{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}
.infoCardPG3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.infoCardPG3 .nameSpan{
    font-weight: bolder;
    color: var(--roxo);
}
.starsCard{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCardPG3 img{
    border-radius: 50%;
}
.infoCardPG3 span{
    color: var(--roxo);
    width: 100%;
    text-align: end;
}
.textCardPG3{
    width: 100%;  
}
.textCardPG3 p{
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    word-wrap: break-word;
    color: var(--roxo);
}
.starsCard span{
    color: var(--roxo);
}

/*BANNER DO SIMULADOR*/
.container_simulador{
    display: flex;
    text-align: left;  
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 400px;
    margin-top: 80px;
    margin-left: 5%;
    border-radius: 25px;
    gap: 40px;
    background: linear-gradient(
        120deg, 
        #d9d0f0 0%,       
        #d9d0f0 60.8%,
        #7a9b76 60.8%,
        #7a9b76 61%,      
        #c1d6bd 61%, 
        #c1d6bd 75.8%,
        #7a9b76 75.8%,
        #7a9b76 76%,
        #d9d0f0 76%,
        #d9d0f0 100%
      );
      border: 3px solid var(--roxo) ;
      border-radius: 28px;
      padding: 20px;
}

.texto_simulador {
    flex: 1; 
    text-align: left;
    margin-left: -20px;
    font-size: 25px;
    font-weight: 350;
    font-family: Poppins, sans-serif;
}

.container_simulador .texto_simulador .title_simulador {
    font-size: 40px;
    color: #614ca6;
    font-weight: 600;
    font-weight: bolder;
}

.botao_simulador {
    bottom: 50px;
    right: 140px;
}

.btn-simulador {
    border: 2px solid #7a9b76 ;
    background-color: #c1d6bd;
    border-radius: 10px;
    width: 220px;
    height: 60px;
    margin-right: 80px;
    margin-top: 60%;
    font-size: 130%;
    font-weight: 300;
    font-family: Poppins, sans-serif;
    color:#7a9b76;
    cursor: pointer;
}

.btn-simulador:hover {
    background-color: #b1c7ad;
    border-color: #658861;
}

.container_simulador .barrinha_simulador {
    width: 25%;
    height: 8px;
    background-color: var(--roxo);
    margin: 10px 0;
    border-radius: 5px;
}

.container_simulador .flor {
    height: 120%;
    width: auto;
    max-width: 120px;
    object-fit: contain;
    align-self: center;
}

/*TELA DE PERGUNTAS FREQUENTES*/
.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: none; 
    min-width: fit-content;
    justify-self: center;
    background-color: var(--verde_claro); 
    padding: 30px 70px 0 70px;
    margin-top: 100PX;
}

.title2 {
    font-size: 40px;
    font-weight: bold;
    color: var(--roxo);
    margin-bottom: 5px;
}

.subtitle {
    font-size: 25px;
    color: #6c757d;
}

main {
    width: 100%;
    font-size: 25px;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.main > div:not(.line) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    cursor: pointer;
}

.main .seta{
    width: 35px;
    height: 35px;
}

.line {
    width: 100%;
    height: 1px;
    background-color:#6c757d;
    margin: 10px 0;
    border-radius: 0;
}

.seta {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    filter: invert(30%) sepia(65%) saturate(2000%) hue-rotate(235deg) brightness(85%) contrast(90%);
    opacity: 0.7;
}

/*FORMULARIO*/
  .conteudo-principal {
    background-color: var(--roxo_claro);
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 700px;
  }
  
  .brancocard {
    background-color: var(--branco);
    padding: 30px;
    margin-left: 15%;
    border-radius: 2px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 50%;
    height: 80%;
  }
  
  .form-card h1 {
    font-size: 28px;
    color: var(--roxo);
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
  }
  
  .form-card p {
    color: var(--roxo);
    margin-bottom: 20px;
    font-size: 20px;
    font-family: Poppins, sans-serif;
  }
  
  .form-card form input,
  .form-card form textarea {
    width: 83%;
    padding: 8px;
    margin-bottom: 15px;
    border: 2px solid var(--roxo);
    border-radius: 17px;
    font-size: 16px;
    color: var(--roxo);
    font-family: Poppins, sans-serif;
  }
  
  .form-card form textarea {
    height: 100px;
  }
  
  .form-card form button {
    background-color: var(--roxo_claro);
    color: var(--branco);
    border: 2px solid var(--roxo);
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    font-family: Poppins, sans-serif;
  }
  
  .cardverde {
    background-color: #b6d4af;
    padding: 40px 20px;
    border-radius: 2px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    z-index: 2;
    font-family: Poppins, sans-serif;
    width: 30%; 
    position: absolute;
    left: 58%;
  }
  
  .info-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #5c3d99;
    font-size: 15px;
    line-height: 1.4;
    font-family: Poppins, sans-serif;
  }
  
  .info-card .item {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .info-card .icon {
    width: 35px;
    height: 35px;
  }

  /*RODAPÉ*/
  .rodape {
    background-color: #f1f6ef;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--roxo);
    font-size: 14px;
  }
  
  .rodape-esquerda {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .logo-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  
  .logo img {
      width: 150px;
    }
  
  .logo {
    font-size: 28px;
    margin: 0;
    font-weight: 600;
  }
  
  .contato,
  .telefones,
  .endereco {
    margin: 0.5%;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
    width: 30px;
    height: 30px;
  }
  
  .rodape-direita {
    display: flex;
    flex-direction: column;
  }
  
  .menu-titulo {
    font-size: 18px;
    margin-top: 0;
    margin-left: -20%;
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  .menu-lista {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-lista li {
    margin-bottom: 10px;
    margin-left: -20%;
    font-size: 1em;
  }
  
  .menu-lista a {
    text-decoration: none;
    color: var(--roxo);
  }
  
  .menu-lista a:hover {
    text-decoration: underline;
  }
  
  media {
    .conteudo-principal {
      flex-direction: column; 
      align-items: center;
    }
  
    .rodape {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;
    }
  }